@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(222, 222, 222);
}

@media (max-width: 600px) {
  main {
    padding-top: 9rem;
    min-height: 100vh;
  }
  section {
    min-height: 100vh;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
