@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(222, 222, 222);
}

@media (max-width: 600px) {
  main {
    padding-top: 9rem;
    min-height: 100vh;
  }
  section {
    min-height: 100vh;
  }
}
