@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(222, 222, 222);
}


main {
  padding-top: 5rem;
}

@media (max-width: 600px) {
  main {
    padding-top: 8rem;
  }
}